/* layout */
html {
    background-color: #111;
    color: #969696;
}

html,
body {
    min-height: 100%;
}

.layout-container h1,
.layout-container h2,
.layout-container h3,
.layout-container h4,
.layout-container h5,
.layout-container h6 {
    border-color: #2e2e2e;
}

.layout-container a {
    color: #d7672a;
}

.layout-container a:hover {
    color: #027080;
}

.layout-container a:hover img {
    cursor: pointer;
}

.layout-container header {
    background-color: #111;
    border-color: #d7672a;
}

.layout-container header .repo-url-github {
    filter: invert(100%);
    -webkit-filter: invert(100%);
}

.layout-container .navigation {
    box-shadow: rgba(38, 38, 38, 1) -1px 0 0 inset;
}

.layout-container .manual-dot {
    background-color: #472847;
}

.layout-container .detail > h3,
.layout-container table thead,
.layout-container table td {
    color: #a7a7a7;
}

.layout-container .detail > h3,
.layout-container table thead {
    background-color: #2a2a2a;
}

.layout-container table td,
.layout-container footer {
    border-color: #2e2e2e;
}

.layout-container table.files-summary tbody tr:hover {
    background-color: #1f1f1f;
}

/* search */
.layout-container .search-result .selected {
    background-color: #2e2e2e;
}

.layout-container .search-input-edge,
.layout-container .search-result li.search-separator {
    background-color: #d7672a;
}

.layout-container .search-input {
    border-color: #d7672a;
    color: inherit;
}

.layout-container .search-result {
    background-color: #111;
    box-shadow: 1px 1px 4px #2e2e2e;
    right: 0;
    padding: 5px;
}

.layout-container .search-result li {
    padding: 0;
}

.layout-container .search-result li a {
    padding: 2px 4px;
}

.layout-container .search-result li.search-separator {
    color: #111;
    padding: 2px 4px;
}

/* pretty print */
pre.prettyprint,
pre > code {
    background-color: #191919;
    border-radius: 0;
}

.import-path pre.prettyprint,
.import-path pre.prettyprint code {
    background-color: inherit;
}

.layout-container .pun,
.layout-container .pln {
    color: #ababac;
}

.layout-container .typ {
    color: #b58c57;
}

.layout-container .kwd {
    color: #77a15c;
}

.layout-container .str {
    color: #8c75ee;
}

.layout-container .lit {
    color: #1b79c5;
}

pre.source-code {
    background: inherit;
}

pre.source-code ol {
    background-color: #1f1f1f;
}

pre.source-code li {
    background-color: #111;
}

.com {
    color: #737175;
}
