.material-icon-blue
{
   color: #3f51b5;
}

.mdl-menu
{
   padding: 0;
}

.mdl-menu__item
{
   height: 32px;
   line-height: 32px;
   padding: 0 8px;
}

li.mdl-menu__item:hover
{
   background-color: #87cefa;
}